<app-admin-navbar></app-admin-navbar>
<div class="dashboard-content">
    <div class="dashboard-grid">
        <div class="dashboard-item">
            <a href="/admin-course-management">
                <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/circnotice.png" class="icon-image">
            </a>
            <h6>Course Management</h6>
        </div>
        <div class="dashboard-item">
            <a href="/admin-exam-management">
                <img src="https://corecampus.s3.ap-south-1.amazonaws.com/assets/img/report.svg" class="icon-image">
            </a>
            <h6>Exam Management</h6>
        </div>
        <div class="dashboard-item">
            <a href="/admin-fees-management">
                <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/fees.svg" class="icon-image">
            </a>
            <h6>Fees Management</h6>
        </div>
        <div class="dashboard-item">
            <a href="/admin-notification-management">
                <!-- <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/college-info/college-profile.svg" class="icon-image"> -->
                <img src="https://img.icons8.com/bubbles/100/appointment-reminders.png" class="icon-image">
            </a>
            <h6>Notification</h6>
        </div>
        <div class="dashboard-item">
            <a href="/admin-report-management">
                <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/examinations.svg" class="icon-image">
            </a>
            <h6>Report</h6>
        </div>
        <div class="dashboard-item">
            <a href="/admin-user-management">
                <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/assignments.svg" class="icon-image">
            </a>
            <h6>User Management</h6>
        </div>
    </div>
  </div>