<div class="dashboard-content">
  <div class="dashboard-grid">
      <div class="dashboard-item">
          <a href="/subject-registration">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/circnotice.png" class="icon-image">
          </a>
          <h6>Subject Registration</h6>
      </div>
      <div class="dashboard-item">
          <a href="/attendance">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/attendance.svg" class="icon-image">
          </a>
          <h6>Attendance</h6>
      </div>
      <div class="dashboard-item">  
          <a href="/college-info">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/college-info/college-profile.svg" class="icon-image">
          </a>
          <h6>College Info</h6>
      </div>
      <div class="dashboard-item">
          <a href="/course-management">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/library.svg" class="icon-image">
          </a>
          <h6>Courses</h6>
      </div>
      <div class="dashboard-item">
          <a href="/feedback-management">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/examinations.svg" class="icon-image">
          </a>
          <h6>Feedback</h6>
      </div>
      <div class="dashboard-item">
          <a href="/feedback-management">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/examinations.svg" class="icon-image">
          </a>
          <h6>Feedback Survey</h6>
      </div>
      <div class="dashboard-item">
          <a href="/fees-management">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/fees.svg" class="icon-image">
          </a>
          <h6>Fees</h6>
      </div>
      <div class="dashboard-item">
          <a href="/exam-management">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/assets/img/report.svg" class="icon-image">
          </a>
          <h6>My Report Card</h6>
      </div>
      <div class="dashboard-item">
          <a href="/profile-management">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/assignments.svg" class="icon-image">
          </a>
          <h6>Student Profile</h6>
      </div>

      <div class="dashboard-item">
          <a href="/time-table">
              <img src="https://corecampus.s3.ap-south-1.amazonaws.com/images/module_images/time-table.svg" class="icon-image">
          </a>
          <h6>Time Table</h6>
      </div>
  </div>
</div>