<div class="home-page">
    <nav class="nav-bar">
        <div class="nav-container">
            <a class="brand-name" href="/">Centurion University of Technology & Management, Bhubaneswar</a>
            <div class="nav-content" id="nav-content">
                <a href="/login" class="button">Login</a>
            </div>
        </div>
    </nav>
    

    <section id="hero-section" class="hero">
        <div class="hero-content" data-aos="zoom-out" data-aos-delay="100">
            <h2>Welcome to <span>Web Automation Portal</span><br>CUTM</h2>
            <div class="hero-button">
                <a href="/login" class="button">Login</a>
            </div>
        </div>
    </section>

    <section id="about-section" class="about">
        <div class="about-container">
            <div class="about-h">
                <h2>About Us</h2>
            </div>
            <div class="about-p">
                <p>
                    In alignment with India's vision to become a global leader in Science and Technology and to foster
                    unprecedented economic growth, the Government of India identified the need for enhanced technical
                    manpower. To address this, the decision was made to establish several new institutions focused on
                    technology and management, including Centurion University of Technology & Management, Bhubaneswar
                    (CUTM).
                </p>
                <p>
                    Founded in 2005, CUTM is dedicated to providing quality education and fostering innovation. The
                    university offers a diverse range of undergraduate and postgraduate programs across various disciplines,
                    including engineering, management, and applied sciences. CUTM is known for its emphasis on practical
                    learning and industry collaboration, preparing students for the challenges of the global job market.
                </p>
                <p>
                    The university operates from a sprawling campus that features modern infrastructure, including
                    state-of-the-art laboratories, a well-equipped library, and dedicated spaces for research and
                    innovation. CUTM encourages an interdisciplinary approach, allowing students to gain insights across
                    various fields of study.
                </p>
                <p>
                    The Academic Office at CUTM is responsible for managing all academic affairs and ensuring that students
                    receive the necessary support throughout their educational journey. The office comprises a Dean of
                    Academic Affairs, Associate Deans, and administrative staff dedicated to fostering a conducive learning
                    environment.
                </p>
                <p>
                    With its commitment to excellence and innovation, Centurion University of Technology & Management,
                    Bhubaneswar, aims to contribute significantly to the development of skilled professionals equipped to
                    meet the demands of the industry and society.
                </p>
            </div>
            
        </div>
    </section>
    

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <p>Centurion University of Technology & Management, Bhubaneswar (CUTM)</p>
                <p>Ramachandrapur, Jatni, Bhubaneswar, Odisha 752050</p>
            </div>
            <div class="footer-team">
                ST Domain ERP Team
            </div>
        </div>
    </footer>
</div>